<div class="error-page">
  <div class="error-container">
    <div class="error-content">
      <div class="error-number">500</div>
      <h1>Server Error</h1>
      <p class="error-message">
        Oops! Something went wrong on our end. 
        Our mechanics are working hard to fix the issue.
      </p>
      
      <div class="error-image">
        <img src="/images/site/car-crash.svg" alt="Car Crash" class="crash-image">
      </div>
      
      <div class="error-actions">
        <a href="/" class="btn-home">Take Me Home</a>
        <a href="/inv" class="btn-inventory">Browse Vehicles</a>
      </div>
      
      <div class="error-details">
        <% if (message) { %>
          <h3>Error Details:</h3>
          <p><%= message %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>